{% extends "layout.nunjucks" %} {% block content %}
<!-- Header -->
<header class="masthead" id="apply-masthead">
    <div class="container">
        <div class="intro-text">
            {# <div class="intro-lead-in">Foundations Choreography</div> #}
            <div class="intro-heading">Apply</div>
            {# <a class="btn btn-xl js-scroll-trigger" href="#services">Build Yourself!</a> #}
        </div>
    </div>
</header>
<section>
    <div class="container">
        {% include '../templates/partials/audition-app.njk' %}
    </div>
</section>
<section class="bg-light" id="portfolio">
    <div class="container">
        {% include '../templates/partials/workshop-app.njk' %}
    </div>
</section>
{% endblock %}